*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

html,body,.container{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
}


.flex{
    display: flex;
}

.al-item{
    align-items: center;
}

.justify{
    justify-content: center;
}

.justify-spacebetween{
    justify-content: space-between;
}

.flex-system1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-system2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .h-10{
    height: 10%;
} */

.header{
    height: 100%;
    background-image: url(../assets/hotel-room.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.593);
    padding: 0px 96px;
}

.book h1{
    font-weight: 100;
}

.book h1 span{
    font-size: 15px;
}

.link{
    background-image: url(../assets/header-upp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 11vh;
    width: 50vw;
    display: flex;
    /* gap: 5px; */
}


.link a{
    display: flex;
    align-items: center;
    margin-left: 102px;
    text-decoration: none;
    color: #1D1D1D;
    font-size: 15px;
    font-weight: 500;
}

.button{
    font-size: 13px;
    height: 35px;
    width: 120px;
    border: 1px solid white;
    border-radius: 20px;
    gap: 5px;
}

.button img{
    height: 20px;
}

.hero{
    margin-top: 60px;
}

.hero-1{
    width: 60%;
}

.hero-1 h1{
    font-size: 86px;
    font-weight: 500;
}

.hero-2{
    margin-top: 20px;
    width: 75%;
    border-radius: 20px;
    background-color: #1d1d1dc6;
    padding: 30px;
}

.btn-1{
    gap: 15px;
    font-size: 12px;
    padding: 10px;
    height: 40px;
    width: 260px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.551);
    box-shadow: 2px 2px 5px rgb(2, 2, 2);
}

.btn-1 img{
    height: 20px;
}

.btn-2{
    gap: 1px;
}

.btn-0{
    gap: 10px;
    font-size: 12px;
    padding: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.551);
    box-shadow: 2px 2px 5px rgb(2, 2, 2);
}

.btn-0 img{
    height: 18px;
}

.btn-0{
    font-size: 12px;
    padding: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.551);
    box-shadow: 2px 2px 5px rgb(2, 2, 2);
}

.btn-3{
    font-size: 12px;
    padding: 10px;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.551);
    box-shadow: 2px 2px 5px rgb(2, 2, 2);
}

.gap1{
    gap: 50px;
}

.gap2{
    gap: 10px;
}

.btn-3 img{
    height: 15px;
}

.btn-4{
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #C49C74;
    color: black;
    box-shadow: 2px 2px 5px rgb(2, 2, 2);
}

.hero-3{
    margin-left: 60%;
    margin-top: 60px;
    width: 37%;
}

.hero-3 h1{
    font-size: 30px;
    font-weight: 700;
}

.hero-3 p{
    margin-top: 13px;
    font-size: 14px;
    color: #ffffffc6;
}

.line{
    margin-right: 18px;
    height: 104px;
    width: 8px;
    border-radius: 5px;
    background-color: #C49C74;
}

.header-down{
   
    background-image: url(../assets/header-down.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 58%;
    height: 5vh;
    margin-top: 49px;
    margin-left: 250px; 
}